# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
*.iml

# IDE / outils
.idea/
.vscode/
.playwright-mcp/
.claude/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
